
{{#if success}}
<br>
<div class="alert alert-success">
{{success}}
</div>
{{/if}}

{{#if error_message}}
<br>
<div class="alert alert-danger">
{{error_message}}
</div>
{{/if}}

{{#if success_message}}
<br>
<div class="alert alert-success">
{{success_message}}
</div>
{{/if}}


{{#each productChunks}}
<div class="row">
{{#each this}}
<div class="col-sm-6 col-md-3">
<div class="card" style="width:20rem;">
  <img style="padding:10px" height="300px" class="card-img-top" src={{imagePath}}>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p style="color:#696969" class="card-text">{{description}}</p>
    <span style="font-size:25px;font-weight:bold">₹{{price}}</span>
      
  <form action="/add-to-cart/{{_id}}?_method=PUT" method="post" enctype="multipart/form-data">
  <div class="form-group">
      <button style="float:right" type="submit" class="btn btn-success" style="cursor:pointer">Add to cart</button>
  </div>
  </form>
          
  </div>
</div>  
</div>
{{/each}}  
</div>
<br>
{{/each}}  
